* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive ;
    color: white;
    /* text-align: center; */
}

body {
    background-color: #BFAC9B;
}

.logo {
    width: 5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.5em;
    /* border-style: inset; */
    border-radius: 0.5em;
    /* border-color: black; */
    background-color: #D9C196;
}

nav {
    background-color: #025951;
    display: flex;
    justify-content: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0.4em;
    position: relative;
}

nav img {
    width: 3em;
    margin-top: 0.4em;
}

#welkom {
    font-size: 1.5cm;
    text-align: center;
    margin: 0.25em;
}

/* main p:nth-child(2) {
    margin: 1em;
} */

main p {
    margin: 1em;
    text-align: center;
}

main img {
    width: 80%;
    display: block;
    margin: auto;
    border-color: #025951;
    border-style: inset;
    border-radius: 1em;
    border-width: 0.25em;
}

main img {
    margin-top: 0.5em;
}

.optie {
    width: 80px;
    height: 80px;
    font-size: 12px;
    margin: 5px;
    background-color: #025951;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

footer p {
    padding: 1em;
    background-color: #495B73;
}