* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive ;
    color: white;
    /* text-align: center; */
}

body {
    background-color: #BFAC9B;
    text-decoration: none;
}

.logo {
    width: 5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.5em;
    /* border-style: inset; */
    border-radius: 0.5em;
    /* border-color: black; */
    background-color: #D9C196;
}

nav {
    background-color: #025951;
    display: flex;
    justify-content: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0.4em;
    position: relative;
}

nav img {
    width: 3em;
    margin-top: 0.4em;
}

#welkom {
    font-size: 1.5cm;
    text-align: center;
    margin: 0.25em;
}

main p {
    margin: 2em;
    text-align: center;

}

main img {
    margin-top: 0.5em;
    border-color:#D9C196;
    border-style: inset;
    border-radius: 0.5em;
    border-width: 0.4em;

}

.upb {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 1em;
}

.ruimte {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 1em;
}

.text_1 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin: 1em;
}

.eenzaam {
    width: 35%;
    display: flex;
    margin-right: 1em;
    margin-bottom: 1em;
}

.text_2 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 0.25em;
}

.dozen {
    width: 96%;

}

main ul li, h1, h2 {
    margin: 1em;
    text-align:center;
    list-style: none;
}

main ol li {
    margin: 2em;
    text-align: center;
}

.style_1 {
    background-color: #025951;
    border-style: dashed;
    border-radius: 0.5em;
    padding: 10px;
}

.weggeven {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.optie {
    width: 90px;
    height: 90px;
    /* font-size: 12px; */
    margin: 1em;
    background-color: #025951;
    border-style: dashed;
    border-radius: 0.5em;

}

.optie a {
    text-decoration: none;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.contact_container {
    display: flex;
    flex-direction: row;
}

.contact_column1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    padding: 1em;
}

.contact_column2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}

footer p {
    padding: 1em;
    background-color: #495B73;
}